@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: #009688;
}

.App-principal {
	background-color: #e5e5f7;
	background-image: linear-gradient(135deg, #a2a6eb 25%, transparent 25%),
		linear-gradient(225deg, #a2a6eb 25%, transparent 25%),
		linear-gradient(45deg, #a2a6eb 25%, transparent 25%),
		linear-gradient(315deg, #a2a6eb 25%, #e5e5f7 25%);
	background-position: 4px 0, 4px 0, 0 0, 0 0;
	background-size: 4px 4px;
	background-repeat: repeat;
}

h1 {
	margin-top: 2em;
	font-family: Lato, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.seleccionContenedor {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 100vh;
	background-color: #338f99;
}

.seleccionOpcion {
	display: flex;
	margin-top: 25px;
	justify-content: center;
}

.seleccionComponente {
	width: 300px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
	border-color: rgb(0, 0, 0);
	color: black;
	font-size: larger;
	font-family: Lato, sans-serif;
}

.seleccionEstado {
	margin-top: 10px;
}
